
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#000eff, #aecb19) fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: 100%;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  text-decoration: none;
  padding: 0;
  
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
}

img{
  display: block;
  width: 100%;
}

.disabled {
  /* стили для задизейбленных элементов li */
  opacity: 0.5;
  pointer-events: none;
}

.containerBackground {
  position: relative;
  background-color: #f2f2f2;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.text {
  text-align: center;
}

.image {
  margin-top: 32px;
  text-align: center;
}

.image img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.active {
  background-image: linear-gradient(to right, #000 0%, #656565 51%, #677 100%);
}